/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
table{

  background-color:blue;
}

td{
  
 height:50px;
  width:50px; 
 background-color:white;
  border-color: blue;
  border-radius:9000%;
  border-width: 5px; 
  border-style: solid;
}
.player1{
  background-color:yellow;
  
}
.player2{
  background-color:red;
  
}